# YouTube API キー設定
# Google Cloud Console から取得したAPIキーを設定してください
# https://console.cloud.google.com/

# YouTube Data API v3 のキー
YOUTUBE_API_KEY=your_youtube_api_key_here

# または Google API キーでも可
GOOGLE_API_KEY=your_google_api_key_here
